<center><h1>Last_First_HW3</h1></center>
<br>
<br>

Name: Tufei Cai
<br>
Github Username: Tufei Tsai
<br>
USC ID: 1947878719

## 1. Time Series Classification Part 1: Feature Creation/Extraction

### (a) Download Data

Package imports

In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import glob
import os
import bootstrapped.bootstrap as bs
import bootstrapped.stats_functions as bs_stats
# pip3 install bootstrapped

Get the AReM Data Set

In [2]:
bending1_ds1 = pd.read_csv('../data/bending1/dataset1.csv', skiprows = 4)
bending1_ds2 = pd.read_csv('../data/bending1/dataset2.csv',skiprows = 4)
bending1_df = pd.concat([bending1_ds1, bending1_ds2], ignore_index=True)
bending1_df.head(10)
bending1_ds2.shape

(480, 7)

In [3]:
bending2_ds1 = pd.read_csv('../data/bending2/dataset1.csv', skiprows = 4)
bending2_ds2 = pd.read_csv('../data/bending2/dataset2.csv',skiprows = 4)
bending2_df = pd.concat([bending2_ds1, bending2_ds2], ignore_index=True)
bending2_df.head(10)
bending2_ds2.shape

(480, 7)

### (b) Test and Train Data

#### Test Data

In [4]:
# datasets 1, 2, and 3 in other folders as test data and other datasets as train data.

# Folders for test data: cycling, lying, sitting, standing, walking

# cycling
cycling_path = '../data/cycling'
cycling_dfs = []

for dataset_num in range(1,4):
    file_path = f"{cycling_path}/dataset{dataset_num}.csv"
    
    df = pd.read_csv(file_path, skiprows=4)
    
    cycling_dfs.append(df)

cycling_test_df = pd.concat(cycling_dfs, ignore_index=True)

# lying
lying_path = '../data/lying'
lying_csv = glob.glob(lying_path + "/*.csv")
lying_dfs = []

for dataset_num in range(1,4):
    file_path = f"{lying_path}/dataset{dataset_num}.csv"
       
    df = pd.read_csv(file_path, skiprows=4)
    
    lying_dfs.append(df)

lying_test_df = pd.concat(lying_dfs, ignore_index=True)

# sitting
sitting_path = '../data/sitting'
sitting_dfs = []

for dataset_num in range(1,4):
    file_path = f"{sitting_path}/dataset{dataset_num}.csv"
       
    df = pd.read_csv(file_path, skiprows=4)
    
    sitting_dfs.append(df)

sitting_test_df = pd.concat(sitting_dfs, ignore_index=True)

# standing 
standing_path = '../data/standing'
standing_dfs = []

for dataset_num in range(1,4):
    file_path = f"{standing_path}/dataset{dataset_num}.csv"
       
    df = pd.read_csv(file_path, skiprows=4)
    
    standing_dfs.append(df)

standing_test_df = pd.concat(standing_dfs, ignore_index=True)

# walking
walking_path = '../data/walking'
walking_dfs = []

for dataset_num in range(1,4):
    file_path = f"{walking_path}/dataset{dataset_num}.csv"
       
    df = pd.read_csv(file_path, skiprows=4)
    
    walking_dfs.append(df)

walking_test_df = pd.concat(walking_dfs, ignore_index=True)

test_dfs = [cycling_test_df, lying_test_df, sitting_test_df,standing_test_df, walking_test_df]
df_test = pd.concat(test_dfs, ignore_index=True)

In [5]:
df_test.shape # 15 * 480

(7200, 7)

#### Train Data

In [6]:
# bending1: 3-7
# beding2: 3-6
# cycling: 4-15
# lying: 4-15
# sitting: 4-15
# standing: 4-15
# walking: 4-15

# bending1
bending1_path = '../data/bending1'
bending1_train_dfs = []

for dataset_num in range(3,8):
    file_path = f"{bending1_path}/dataset{dataset_num}.csv"
    
    df = pd.read_csv(file_path, skiprows=4)
    
    bending1_train_dfs.append(df)

bending1_train_df = pd.concat(bending1_train_dfs, ignore_index=True)

# bending2
bending2_path = '../data/bending2'
bending2_train_dfs = []

for dataset_num in range(3,7):
    file_path = f"{bending2_path}/dataset{dataset_num}.csv"
    
    df = pd.read_csv(file_path, skiprows=4)
    
    bending2_train_dfs.append(df)

bending2_train_df = pd.concat(bending2_train_dfs, ignore_index=True)

# lying
lying_train_dfs = []

for dataset_num in range(4,16):
    file_path = f"{lying_path}/dataset{dataset_num}.csv"
    
    df = pd.read_csv(file_path, skiprows=4)
    
    lying_train_dfs.append(df)

lying_train_df = pd.concat(lying_train_dfs, ignore_index=True)

# cycling
cycling_train_dfs = []

for dataset_num in range(4,16):
    file_path = f"{cycling_path}/dataset{dataset_num}.csv"
    
    df = pd.read_csv(file_path, skiprows=4)
    
    cycling_train_dfs.append(df)

cycling_train_df = pd.concat(cycling_train_dfs, ignore_index=True)

# sitting
sitting_train_dfs = []

for dataset_num in range(4,16):
    file_path = f"{sitting_path}/dataset{dataset_num}.csv"
    
    df = pd.read_csv(file_path, skiprows=4)
    
    sitting_train_dfs.append(df)

sitting_train_df = pd.concat(sitting_train_dfs, ignore_index=True)

# seems like it is only 479 rows with one NaN row
# We now add a NaN row to the df
nan_row = pd.Series([pd.NA, pd.NA, pd.NA,pd.NA,pd.NA,pd.NA,pd.NA], index=sitting_train_df.columns)
sitting_train_df = sitting_train_df.append(nan_row, ignore_index = True) 


# standing
standing_train_dfs = []

for dataset_num in range(4,16):
    file_path = f"{standing_path}/dataset{dataset_num}.csv"
    
    df = pd.read_csv(file_path, skiprows=4)
    
    standing_train_dfs.append(df)

standing_train_df = pd.concat(standing_train_dfs, ignore_index=True)

# walking
walking_train_dfs = []

for dataset_num in range(4,16):
    file_path = f"{walking_path}/dataset{dataset_num}.csv"
    
    df = pd.read_csv(file_path, skiprows=4)
    
    walking_train_dfs.append(df)

walking_train_df = pd.concat(walking_train_dfs, ignore_index=True)

train_dfs = [bending1_train_df, bending2_train_df, cycling_train_df, lying_train_df, sitting_train_df,standing_train_df, walking_train_df]
df_train = pd.concat(train_dfs, ignore_index=True)

In [7]:
df_train.shape # 69 x 480

(33120, 7)

### (c) Feature Extraction

#### i. Research

**Types of time-domain features in time seires:**

- Mean
- Median
- Standard Deviation
- Variance
- Minimum
- Maximum
- Range
- Kurtosis : A measure of whether the data are heavy-tailed or light-tailed relative to a normal distribution
- Absolute Mean: The average of the absolute values of the data points
- Interquartile Range(IQR)

#### ii. Extraction

In [8]:
# bending1
bending1_features = []

bending1_path = '../data/bending1'

for dataset_num in range(1, 8):
    file_path = f"{bending1_path}/dataset{dataset_num}.csv"

    df = pd.read_csv(file_path, skiprows=4).drop('# Columns: time', axis=1)
    
    df_features = {
        'Instance': f'{dataset_num}'
    }
    for i, column in enumerate(df.columns, start=1):
        df_features[f'min_{i}'] = df[column].min()
        df_features[f'max_{i}'] = df[column].max()
        df_features[f'mean_{i}'] = df[column].mean()
        df_features[f'median_{i}'] = df[column].median()
        df_features[f'1st_quart_{i}'] = df[column].quantile(0.25)
        df_features[f'3rd_quart_{i}'] = df[column].quantile(0.75)
    
    bending1_features.append(df_features)
    
bending1_extract = pd.DataFrame(bending1_features)
columns = ['Instance'] + [col for col in bending1_extract if col != 'Instance']
bending1_extract = bending1_extract[columns]


# bending2
bending2_features = []

bending2_path = '../data/bending2'

for dataset_num in range(1, 7):
    file_path = f"{bending2_path}/dataset{dataset_num}.csv"

    df = pd.read_csv(file_path, skiprows=4).drop('# Columns: time', axis=1)
    
    df_features = {
        'Instance': f'{dataset_num}'
    }
    for i, column in enumerate(df.columns, start=1):
        df_features[f'min_{i}'] = df[column].min()
        df_features[f'max_{i}'] = df[column].max()
        df_features[f'mean_{i}'] = df[column].mean()
        df_features[f'median_{i}'] = df[column].median()
        df_features[f'1st_quart_{i}'] = df[column].quantile(0.25)
        df_features[f'3rd_quart_{i}'] = df[column].quantile(0.75)
    
    bending2_features.append(df_features)
    
bending2_extract = pd.DataFrame(bending2_features)
columns = ['Instance'] + [col for col in bending2_extract if col != 'Instance']
bending2_extract = bending2_extract[columns]


# cycling
cycling_features = []

for dataset_num in range(1, 16):
    file_path = f"{cycling_path}/dataset{dataset_num}.csv"

    df = pd.read_csv(file_path, skiprows=4).drop('# Columns: time', axis=1)
    
    df_features = {
        'Instance': f'{dataset_num}'
    }
    for i, column in enumerate(df.columns, start=1):
        df_features[f'min_{i}'] = df[column].min()
        df_features[f'max_{i}'] = df[column].max()
        df_features[f'mean_{i}'] = df[column].mean()
        df_features[f'median_{i}'] = df[column].median()
        df_features[f'1st_quart_{i}'] = df[column].quantile(0.25)
        df_features[f'3rd_quart_{i}'] = df[column].quantile(0.75)
    
    cycling_features.append(df_features)
    
cycling_extract = pd.DataFrame(cycling_features)
columns = ['Instance'] + [col for col in cycling_extract if col != 'Instance']
cycling_extract = cycling_extract[columns]

# lying
lying_features = []

for dataset_num in range(1, 16):
    file_path = f"{lying_path}/dataset{dataset_num}.csv"

    df = pd.read_csv(file_path, skiprows=4).drop('# Columns: time', axis=1)
    
    df_features = {
        'Instance': f'{dataset_num}'
    }
    for i, column in enumerate(df.columns, start=1):
        df_features[f'min_{i}'] = df[column].min()
        df_features[f'max_{i}'] = df[column].max()
        df_features[f'mean_{i}'] = df[column].mean()
        df_features[f'median_{i}'] = df[column].median()
        df_features[f'1st_quart_{i}'] = df[column].quantile(0.25)
        df_features[f'3rd_quart_{i}'] = df[column].quantile(0.75)
    
    lying_features.append(df_features)
    
lying_extract = pd.DataFrame(lying_features)
columns = ['Instance'] + [col for col in lying_extract if col != 'Instance']
lying_extract = lying_extract[columns]


# Sitting
sitting_features = []

for dataset_num in range(1, 16):
    file_path = f"{sitting_path}/dataset{dataset_num}.csv"

    df = pd.read_csv(file_path, skiprows=4).drop('# Columns: time', axis=1)
    
    df_features = {
        'Instance': f'{dataset_num}'
    }
    for i, column in enumerate(df.columns, start=1):
        df_features[f'min_{i}'] = df[column].min()
        df_features[f'max_{i}'] = df[column].max()
        df_features[f'mean_{i}'] = df[column].mean()
        df_features[f'median_{i}'] = df[column].median()
        df_features[f'1st_quart_{i}'] = df[column].quantile(0.25)
        df_features[f'3rd_quart_{i}'] = df[column].quantile(0.75)
    
    sitting_features.append(df_features)
    
sitting_extract = pd.DataFrame(sitting_features)
columns = ['Instance'] + [col for col in sitting_extract if col != 'Instance']
sitting_extract = sitting_extract[columns]

# standing
standing_features = []

for dataset_num in range(1, 16):
    file_path = f"{standing_path}/dataset{dataset_num}.csv"

    df = pd.read_csv(file_path, skiprows=4).drop('# Columns: time', axis=1)
    
    df_features = {
        'Instance': f'{dataset_num}'
    }
    for i, column in enumerate(df.columns, start=1):
        df_features[f'min_{i}'] = df[column].min()
        df_features[f'max_{i}'] = df[column].max()
        df_features[f'mean_{i}'] = df[column].mean()
        df_features[f'median_{i}'] = df[column].median()
        df_features[f'1st_quart_{i}'] = df[column].quantile(0.25)
        df_features[f'3rd_quart_{i}'] = df[column].quantile(0.75)
    
    standing_features.append(df_features)
    
standing_extract = pd.DataFrame(standing_features)
columns = ['Instance'] + [col for col in standing_extract if col != 'Instance']
standing_extract = standing_extract[columns]

# walking
walking_features = []

for dataset_num in range(1, 16):
    file_path = f"{walking_path}/dataset{dataset_num}.csv"

    df = pd.read_csv(file_path, skiprows=4).drop('# Columns: time', axis=1)
    
    df_features = {
        'Instance': f'{dataset_num}'
    }
    for i, column in enumerate(df.columns, start=1):
        df_features[f'min_{i}'] = df[column].min()
        df_features[f'max_{i}'] = df[column].max()
        df_features[f'mean_{i}'] = df[column].mean()
        df_features[f'median_{i}'] = df[column].median()
        df_features[f'1st_quart_{i}'] = df[column].quantile(0.25)
        df_features[f'3rd_quart_{i}'] = df[column].quantile(0.75)
    
    walking_features.append(df_features)
    
walking_extract = pd.DataFrame(walking_features)
columns = ['Instance'] + [col for col in walking_extract if col != 'Instance']
walking_extract = walking_extract[columns]

In [61]:
extract_datasets = [bending1_extract, bending2_extract, cycling_extract, lying_extract, sitting_extract, standing_extract, walking_extract]

combined_df = pd.DataFrame()

instance_counter = 1

for df in extract_datasets:
    df['Instance'] = range(instance_counter, instance_counter + len(df))
    instance_counter += len(df)
    combined_df = pd.concat([combined_df, df], ignore_index=True)


cols = ['Instance'] + [col for col in combined_df.columns if col != 'Instance']
combined_df = combined_df[cols]
combined_df.set_index('Instance', inplace=True)

In [62]:
combined_df

,min_1,max_1,mean_1,median_1,1st_quart_1,3rd_quart_1,min_2,max_2,mean_2,median_2,1st_quart_2,3rd_quart_2,min_3,max_3,mean_3,median_3,1st_quart_3,3rd_quart_3,min_4,max_4,mean_4,median_4,1st_quart_4,3rd_quart_4,min_5,max_5,mean_5,median_5,1st_quart_5,3rd_quart_5,min_6,max_6,mean_6,median_6,1st_quart_6,3rd_quart_6
Instance,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,37.25,45.00,40.624792,40.50,39.25,42.0000,0.0,1.30,0.358604,0.430,0.00,0.5000,4.00,29.50,19.040937,19.250,16.00,23.2500,0.0,7.23,0.832542,0.50,0.0000,1.1200,27.25,38.25,34.311292,35.00,33.0000,36.00,0.00,1.92,0.570583,0.43,0.0000,1.3000
2,38.00,45.67,42.812812,42.50,42.00,43.6700,0.0,1.22,0.372438,0.470,0.00,0.5000,2.00,29.50,20.096979,21.000,19.00,22.2500,0.0,5.76,0.876438,0.50,0.0000,1.1450,27.67,38.50,33.024583,33.00,32.0000,34.50,0.00,3.11,0.571083,0.43,0.0000,1.3000
3,35.00,47.40,43.954500,44.33,43.00,45.0000,0.0,1.70,0.426250,0.470,0.00,0.5000,6.50,29.75,22.122354,23.000,19.75,24.0000,0.0,4.44,0.497313,0.43,0.0000,0.8300,29.00,38.50,35.588458,36.00,35.3625,36.50,0.00,1.79,0.493292,0.43,0.0000,0.9400
4,33.00,47.75,42.179813,43.50,39.15,45.0000,0.0,3.00,0.696042,0.500,0.00,1.1200,8.50,30.00,22.183625,23.000,20.50,24.3725,0.0,5.15,0.989917,0.83,0.4300,1.3000,20.00,38.67,33.493917,35.00,30.4575,36.33,0.00,2.18,0.613521,0.50,0.0000,1.0000
5,33.00,45.75,41.678063,41.75,41.33,42.7500,0.0,2.83,0.535979,0.500,0.43,0.7100,3.00,28.25,19.006562,19.125,16.50,22.0625,0.0,6.42,0.841875,0.50,0.4300,1.1200,23.67,37.50,29.857083,30.00,28.4575,31.25,0.00,1.79,0.383292,0.43,0.0000,0.5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,19.50,45.33,33.586875,34.25,30.25,37.0000,0.0,14.67,4.576562,4.260,2.87,6.1050,7.33,23.25,15.317854,15.330,13.25,17.2700,0.0,9.00,3.227229,3.10,2.0500,4.2600,6.33,25.00,15.892146,16.00,13.7300,18.25,0.00,8.32,3.259729,3.11,2.0500,4.3225
85,19.75,45.50,34.322750,35.25,31.00,38.0000,0.0,13.47,4.456333,3.900,2.49,5.9700,6.25,22.25,15.209771,15.250,13.50,17.0000,0.0,9.00,3.277229,3.11,2.1700,4.3900,6.25,23.25,15.550458,15.75,13.5000,17.75,0.00,9.67,3.432562,3.20,2.1575,4.5650
86,19.50,46.00,34.546229,35.25,31.25,37.8125,0.0,12.47,4.371958,4.135,2.49,5.8000,7.00,22.67,15.185729,15.250,13.25,17.0000,0.0,8.34,3.028687,2.86,1.7900,4.1100,7.00,22.75,15.759542,15.75,14.0000,17.75,0.00,10.00,3.338125,3.08,2.1600,4.3350
87,23.50,46.25,34.873229,35.25,31.75,38.2500,0.0,14.82,4.380583,3.925,2.50,5.9325,6.67,24.25,15.471188,15.500,13.50,17.2500,0.0,9.90,3.205688,3.03,2.0575,4.1900,5.50,23.50,15.873896,16.00,13.7500,18.00,0.00,9.51,3.424646,3.27,2.1700,4.5000
88,19.25,44.00,34.473188,35.00,31.25,38.0000,0.0,13.86,4.359312,3.960,2.49,5.9000,6.00,22.75,15.424708,15.500,13.67,17.3300,0.0,9.10,3.188271,3.03,2.0500,4.0375,4.67,23.25,15.704167,16.00,13.7300,17.75,0.43,9.00,3.340458,3.09,2.1200,4.3750

In [63]:
combined_df.describe()

,min_1,max_1,mean_1,median_1,1st_quart_1,3rd_quart_1,min_2,max_2,mean_2,median_2,1st_quart_2,3rd_quart_2,min_3,max_3,mean_3,median_3,1st_quart_3,3rd_quart_3,min_4,max_4,mean_4,median_4,1st_quart_4,3rd_quart_4,min_5,max_5,mean_5,median_5,1st_quart_5,3rd_quart_5,min_6,max_6,mean_6,median_6,1st_quart_6,3rd_quart_6
count,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.0,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.0,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000
mean,29.054368,45.616437,39.021212,38.958506,37.112011,41.322816,0.0,6.350920,1.472942,1.302874,0.753966,1.993391,3.137126,22.906437,14.348482,14.680747,12.186667,16.796753,0.0,6.787931,1.513224,1.323046,0.727299,2.013736,4.603678,24.332414,16.011230,16.219368,13.790287,18.522787,0.004943,6.462644,1.631250,1.453966,0.906983,2.156437
std,9.624011,4.207745,5.276431,5.386624,6.127846,5.031028,0.0,5.059656,1.577908,1.413545,0.948434,2.131337,2.954516,4.819848,3.976754,4.009687,4.184148,4.153451,0.0,2.181809,1.168268,1.148591,0.844919,1.555235,6.121205,5.773355,5.704025,5.844368,6.122142,5.563553,0.046101,2.533515,1.157222,1.089858,0.761542,1.526871
min,0.000000,30.000000,24.562958,24.250000,23.187500,26.500000,0.0,0.430000,0.007167,0.000000,0.000000,0.000000,0.000000,11.330000,4.382208,4.500000,2.500000,6.000000,0.0,2.490000,0.332063,0.000000,0.000000,0.470000,0.000000,12.000000,4.303979,2.250000,1.000000,5.542500,0.000000,1.790000,0.383292,0.430000,0.000000,0.500000
25%,21.750000,44.670000,34.904521,35.500000,31.710000,38.250000,0.0,1.790000,0.369573,0.430000,0.000000,0.500000,0.000000,21.125000,12.792323,12.875000,10.460000,15.031250,0.0,5.170000,0.622688,0.470000,0.000000,0.830000,0.000000,21.000000,13.387896,13.395000,11.280000,16.595000,0.000000,4.500000,0.734271,0.500000,0.430000,1.000000
50%,28.750000,45.750000,39.433792,39.500000,39.250000,40.250000,0.0,4.500000,0.492563,0.500000,0.430000,0.500000,2.500000,23.500000,15.302625,15.330000,13.250000,17.670000,0.0,6.120000,0.841875,0.500000,0.430000,1.120000,2.500000,23.500000,15.989167,16.000000,14.000000,18.250000,0.000000,6.260000,0.933000,0.830000,0.470000,1.220000
75%,36.290000,47.750000,43.067146,43.250000,42.000000,45.000000,0.0,11.020000,2.733010,2.200000,1.300000,3.792500,6.000000,25.830000,16.531083,16.710000,14.250000,19.000000,0.0,9.000000,2.997146,2.860000,1.711250,4.015000,6.750000,25.500000,17.223000,17.710000,15.250000,20.750000,0.000000,8.780000,3.026708,2.640000,1.680000,4.048750
max,48.000000,56.250000,48.004167,48.000000,48.000000,54.000000,0.0,17.240000,4.576562,4.260000,2.870000,6.105000,8.500000,35.000000,22.183625,23.000000,20.500000,24.372500,0.0,11.420000,3.365375,3.200000,2.170000,4.440000,29.000000,40.330000,35.588458,36.000000,35.362500,36.500000,0.430000,13.610000,3.530500,3.340000,2.240000,4.617500

#### iii. Standard Deviation

In [70]:
std_dev_df = combined_df.std()
pd.DataFrame(std_dev_df)

                    0
min_1        9.624011
max_1        4.207745
mean_1       5.276431
median_1     5.386624
1st_quart_1  6.127846
3rd_quart_1  5.031028
min_2        0.000000
max_2        5.059656
mean_2       1.577908
median_2     1.413545
1st_quart_2  0.948434
3rd_quart_2  2.131337
min_3        2.954516
max_3        4.819848
mean_3       3.976754
median_3     4.009687
1st_quart_3  4.184148
3rd_quart_3  4.153451
min_4        0.000000
max_4        2.181809
mean_4       1.168268
median_4     1.148591
1st_quart_4  0.844919
3rd_quart_4  1.555235
min_5        6.121205
max_5        5.773355
mean_5       5.704025
median_5     5.844368
1st_quart_5  6.122142
3rd_quart_5  5.563553
min_6        0.046101
max_6        2.533515
mean_6       1.157222
median_6     1.089858
1st_quart_6  0.761542
3rd_quart_6  1.526871

In [69]:
# boostrap based on std

def bootstrap_std(data, n_bootstrap=1000, ci=90):
    # remove NaN
    data = data[~np.isnan(data)]
    if len(data) == 0:
        return np.nan, (np.nan, np.nan)
    
    bootstrapped_stds = []
    
    for _ in range(n_bootstrap):
        sample = np.random.choice(data, size=len(data), replace=True)
        std = np.std(sample, ddof=1)
        bootstrapped_stds.append(std)
    
    lower_percentile = (100 - ci) / 2
    upper_percentile = 100 - lower_percentile
    confidence_interval = np.percentile(bootstrapped_stds, [lower_percentile, upper_percentile])
    
    return np.mean(bootstrapped_stds), confidence_interval

bootstrap_results = {}
for feature in combined_df.columns:
    mean_std, ci = bootstrap_std(combined_df[feature].values)
    bootstrap_results[feature] = {'Mean Std': mean_std, '90% CI': ci}
    
data_for_df = [{
    'Feature': feature,
    'Mean Std Dev': stats['Mean Std'],
    'CI Lower Bound': stats['90% CI'][0],
    'CI Upper Bound': stats['90% CI'][1]
} for feature, stats in bootstrap_results.items()]


bootstrap_df = pd.DataFrame(data_for_df)

bootstrap_df.set_index('Feature', inplace=True)
bootstrap_df

             Mean Std Dev  CI Lower Bound  CI Upper Bound
Feature
min_1            9.556024        8.360198       10.882204
max_1            4.129737        3.039138        5.150496
mean_1           5.231361        4.635105        5.867101
median_1         5.321020        4.709413        5.901497
1st_quart_1      6.072586        5.537489        6.622353
3rd_quart_1      4.977358        4.187065        5.739788
min_2            0.000000        0.000000        0.000000
max_2            5.031398        4.634624        5.402869
mean_2           1.567196        1.410939        1.707186
median_2         1.400891        1.243023        1.548163
1st_quart_2      0.940405        0.834659        1.037812
3rd_quart_2      2.104817        1.882203        2.299430
min_3            2.938363        2.767953        3.104032
max_3            4.773565        4.104081        5.432529
mean_3           3.922551        3.400649        4.433574
median_3         3.973507        3.382123        4.547843
1st_quart_3      4.150017        3.564024        4.689682
3rd_quart_3      4.097816        3.460497        4.671371
min_4            0.000000        0.000000        0.000000
max_4            2.168058        1.975006        2.365935
mean_4           1.160265        1.076723        1.222118
median_4         1.141653        1.062046        1.201030
1st_quart_4      0.840638        0.781351        0.891959
3rd_quart_4      1.546998        1.445716        1.628633
min_5            6.002637        4.381710        7.550325
max_5            5.730830        4.817579        6.588019
mean_5           5.563842        4.362790        6.685717
median_5         5.786286        4.526376        6.988644
1st_quart_5      6.038688        4.879971        7.084092
3rd_quart_5      5.501774        4.355310        6.630057
min_6            0.036377        0.000000        0.078915
max_6            2.511717        2.261581        2.772415
mean_6           1.147689        1.061496        1.215174
median_6         1.083124        1.002824        1.149610
1st_quart_6      0.756145        0.693231        0.810222
3rd_quart_6      1.513352        1.404677        1.600354

#### iv. Select Features

**Three most important time domain features**
- Mean

The mean is sensitive to outliers but provides a summary to the data. In the dataset, the standard deviation is 5.25 and the confidence interval ranging from 4.715 to 5.858.


- Minimum

The minimum has high standard deviation which means it potentially be the features of the dataset


- Maximum

The max_1 feature has a bootstrap mean standard deviation of 4.131184, with a confidence interval from 3.154208 to 5.140326, which indicating noticeable variability and possibly significant peaks in the data.

## 2. ISLR 3.7.4

### (a) Linear Train

If the true relationship between X and Y is linear, then we would expect that simple linear regression model fit the data better than the cubic regression. Cubic regression model would not improve the fir because the features they learned might not be the true relationship between X and Y. Since the cubic regression is more complex thus the cubic regression would have lower training RSS than the simple linear regression which might be overfitting.

### (b) Linear Test

The test data is something that the training model has never seen, thus the cubic regression model would learn training data very well but not on the test data. In other words, the simple linear regression would have a lower test RSS than the cubic regression because the cubic regression would have overfitting features from the training dataset. And since the relationship between X and Y is linear so the simple linear regression would perform better with the test RSS

### (c) Not Linear Train

If the relationship between X and Y is not linear, then the linear regression model might not having a good prediction because it is not linear relationship. The cubic model which is more complex statistical model would learn the non-linear relationship much better, and easily catch the hidden features from the data. Thus, we will expect the cubic regression would have lower training RSS than the linear regression model

### (d) Not Linear Testing

Since the relationship is not linear, and the cubic model fits better in the train RSS. Thus, the cubic regression model should still be better than the linear regression in the test dataset. However, if the training data contains too many random noise then the cubic regression model might do worse on the test data. But we still expect the cubic regression model do the better prediction than the simple linear regression.

## 3. ISLR 3.7.3 - Extra Practice

## 3. ISLR 3.7.5 - Extra Practice